.about-home {
  position: absolute;
  right: 15rem;
  padding-top: 2rem;
}
.about-recipes {
  position: absolute;
  right: 2rem;
  padding-top: 2rem;
}
.about h1 {
  text-align: center;
}
.about p {
  text-align: center;
  padding: 2rem;
}
@media (max-width: 400px) {
  .about-home {
    right: 7rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .about-recipes {
    right: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
