/* Home styling */
.home {
  color: #7c2d12;
  font-family: "Roboto", sans-serif;
  background-image: url("https://i.pinimg.com/originals/dd/9a/2e/dd9a2e1567e388c36c10682de9b60597.jpg");
  background-size: cover;
  height: 100vh;
}

.home h1 {
  font-family: "Reggae One", cursive;
}
.navbar {
  padding: 2rem;
}

.home li {
  list-style: none;
  padding-right: 5rem;
  font-size: 1.5rem;
}
.right {
  display: flex;
  position: absolute;
  right: 0px;
}

.home h2 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  margin-left: 50rem;
  padding: 8rem 14rem 0rem;
  color: white;
}
.cocktail {
  font-size: 6rem;
  color: #b45309;
}

/* small screen */

@media (max-width: 400px) {
  .navbar {
    padding: 1rem;
  }
  .right {
    display: flex;
    padding-top: 6rem;
  }
  .home li {
    padding-right: 1.5rem;
    font-size: 1.3rem;
  }
  .home h2 {
    font-size: 3rem;
    padding: 5rem 4rem;
    margin-left: 0rem;
  }
  .cocktail {
    font-size: 4.5rem;
  }
}
